# Ignorar archivos compilados de C++ y Python
*.o
*.so
*.a
*.out
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar archivos de construcción de ROS 2
build/
install/
log/
.colcon/

# Ignorar archivos generados por catkin/colcon
CMakeLists.txt.user
*.swp
*.swo
*.swn
*.bak
*.tmp
*.log
*.cache
*.vscode/
.idea/
*.DS_Store

# Ignorar archivos de ROS 2 generados automáticamente
.deps/
.env
venv/
*.egg-info/
